{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
Change Password | Lifestyle Electronics
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 my-4 py-4 bg-light shadow rounded">
            <div class="title-all text-center">
                <h1>Change Password</h1>
            </div>
            <div>
                <form id="formRegister" method="POST">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                                <script>
                                    $('.alert').alert()
                                </script>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="form-row">
                        <div class="form-group col-md-12 font-weight-bold">
                            <label class="mb-0">Old Password</label>
                            <input type="password" class="form-control" name="old_password" required> </div>
                        <div class="form-group col-md-12 font-weight-bold">
                            <label class="mb-0">New Password</label>
                            <input type="password" class="form-control" name="new_password1" required> </div>
                        <div class="form-group col-md-12 font-weight-bold">
                            <label class="mb-0">Confirm Password</label>
                            <input type="password" class="form-control" name="new_password2" required> </div>
                    </div>
                    {% csrf_token %}
                    <div class="text-center mt-2">
                        <button type="submit" class="btn hvr-hover col-lg-5" style="color:white;">
                            <i class="far fa-check-circle pr-2"></i>
                            Change Password
                        </button>
                        <a href="/account" class="btn hvr-hover col-lg-4" style="color:white;">
                            <i class="far fa-arrow-alt-circle-left pr-2"></i>
                            Back to Profile
                        </a>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>
{% endblock %}