{% extends 'base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 my-4 py-4 bg-light shadow rounded">
            <div class="title-all text-center">
                <h1>Update Profile</h1>
            </div>
            <div>
                <form id="formRegister" action="/account/updateprofile/" method="POST" enctype="multipart/form-data">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                                <script>
                                    $('.alert').alert()
                                </script>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12 font-weight-bold">
                            <label for="email" class="mb-0">E-mail Address</label>
                            <input type="email" class="form-control" name="email" value="{{customer.user.email}}" required>
                        </div>
                        <div class="form-group col-md-6 font-weight-bold">
                            <label for="fname" class="mb-0">First Name</label>
                            <input type="text" class="form-control" name="fname" value="{{customer.user.first_name}}" required>
                        </div>
                        <div class="form-group col-md-6 font-weight-bold">
                            <label for="lname" class="mb-0">Last Name</label>
                            <input type="text" class="form-control" name="lname" value="{{customer.user.last_name}}" required>
                        </div>
                        <div class="form-group col-md-12 font-weight-bold">
                            <label for="phone" class="mb-0">Mobile Number</label>
                            <input type="tel" class="form-control" name="phone" value="{{customer.phone}}" required>
                        </div>
                        <div class="form-group col-md-6 font-weight-bold">
                            <label for="fname" class="mb-0">House No./Flat No./Apartment</label>
                            <input type="text" class="form-control" name="house" value="{{customer.house_no}}" required>
                        </div>
                        <div class="form-group col-md-6 font-weight-bold">
                            <label for="fname" class="mb-0">Street/Locality</label>
                            <input type="text" class="form-control" name="street" value="{{customer.street}}" required>
                        </div>
                        <div class="form-group col-md-5 font-weight-bold">
                            <label for="state" class="mb-0">State</label>
                            <input type="text" class="form-control" name="state" value="{{customer.state}}" required>
                        </div>
                        <div class="form-group col-md-4 font-weight-bold">
                            <label for="city" class="mb-0">City</label>
                            <input type="text" class="form-control" name="city" value="{{customer.city}}" required>
                        </div>
                        <div class="form-group col-md-3 font-weight-bold">
                            <label for="pin" class="mb-0">PIN Code</label>
                            <input type="tel" class="form-control" name="pin" value="{{customer.pin}}" required>
                        </div>
                        <div class="form-group col-md-12 font-weight-bold">
                            <label for="pic" class="mb-0">Profile Picture</label>
                            <input type="file" class="form-control-file" name="pic" value="{{customer.profile_pic}}" accept="image/*">
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="btn hvr-hover col-lg-4" style="color:white;">
                            <i class="far fa-check-circle pr-2"></i>
                            Update Profile
                        </button>
                        <a href="/account" class="btn hvr-hover col-lg-4" style="color:white;">
                            <i class="far fa-arrow-alt-circle-left pr-2"></i>
                            Back to Profile
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}